:root {
    --main-font-color: #ffffff;
    --main-bg-color: #1a1a1a;
}

@font-face {
    font-family: Norse;
    src: url(./fonts/Norse-Bold.otf);
}

body {
    font-family: 'Delicious Handrawn', cursive;
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    margin: 0;
}

img {
    width: 70px;
}

.body-container  h2 {
    margin: 0 0 2em 0.6em;
    font-size: 2.2rem;
}

.container {
    height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

label, input {
    margin: 0 0 0.9em 0.5em;
}

label {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

input {
    height: 1.3rem;
    
}

form {
    width: 600px;
}

.image-container {
    background-image: url(image/minh-triet.jpg);
    background-size: cover;
    width: 35vw;
    height: 100vh;
}

.image {
    background-color: rgba(0, 0, 0, 0.4);
    width: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Norse;
    font-size: 4rem;
    position: absolute;
    top: 200px;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
}

fieldset {
    display: inline-block;
    border: none;
}

label {
    display: block;
}


button[type='submit'] {
    display: block;
    margin: 3em 0 0 1.6em;
    padding: 0.5rem;
    font-size: 1rem;
}
 
p {
    margin: 2.6em 0 0 1.4em;
    font-size: 1.2rem;
}

.text-container p {
    margin: 0 0 1.5em 0;
}

.text-container a {
    color: var(--main-font-color);
}

a:hover {
    color: var(--main-font-color);
}

.text-container a:hover {
    color: burlywood;
}


/* a:visited {
    color: var(--main-font-color);
} */
